<header
  class="navbar navbar-expand-lg navbar-light bg-light flex-column flex-md-row bd-navbar sticky-top justify-content-between"
>
  <div>
    <a class="navbar-brand" routerLink="/">Hotel Manager</a>

    <div *ngIf="isLoggedIn" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Rooms
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem" *ngIf="isAdmin()">
          <a class="dropdown-item" routerLink="/add-room">Add Room</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/rooms">Rooms List</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Bookings
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li *ngIf="isAdmin()" role="menuitem">
          <a class="dropdown-item" routerLink="/add-booking">Add Booking</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/bookings">Bookings List</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <button type="button" class="btn" *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
    </button>

    <div class="btn-group" dropdown *ngIf="isLoggedIn">
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        {{ username }}
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>
