<div
  *ngIf="!isLoggedIn"
  class="h-100 d-flex align-items-center justify-content-center mt-auto p-5"
>
  <form
    [formGroup]="loginForm"
    data-testid="submit-form"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="text-center">Login</h1>
    <!-- Username -->
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        formControlName="username"
        placeholder="Enter Username"
      />
      <button
        tabindex="-1"
        *ngIf="loginForm.controls['username'].value != ''"
        (click)="clearValue('username')"
        matSuffix
        type="button"
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>

      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        Field is Required
      </mat-error>
      <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">
        Min Length is 3
      </mat-error>
    </mat-form-field>
    <!-- Password -->
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Enter Password"
      />
      <button
        tabindex="-1"
        *ngIf="loginForm.controls['password'].value != ''"
        (click)="clearValue('password')"
        matSuffix
        type="button"
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Field is Required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Min Length is 3
      </mat-error>
    </mat-form-field>
    <!-- Login btn -->
    <div class="text-center">
      <button [disabled]="loginForm.invalid" mat-button color="primary">
        Login
      </button>
    </div>
    <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
      Login failed: {{ errorMessage }}
    </div>
  </form>
</div>
<div class="alert alert-success" *ngIf="isLoggedIn">
  Logged in as {{ role }}.
</div>
