{{ registerForm.value | json }}
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input
      type="text"
      matInput
      formControlName="username"
      placeholder="Enter Username"
    />
    <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
      Field is Required
    </mat-error>
    <mat-error *ngIf="registerForm.get('username')?.hasError('minlength')">
      Min Length is 3
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Enter Email"
    />
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
      Field is Required
    </mat-error>
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
      Enter valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Enter Password"
    />
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
      Field is Required
    </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
      Min Length is 3
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Repeat Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="rePassword"
      placeholder="Password"
    />
    <mat-error *ngIf="registerForm.get('rePassword')?.hasError('required')">
      Field is Required
    </mat-error>
    <mat-error *ngIf="registerForm.get('rePassword')?.hasError('matching')">
      Passwords must match
    </mat-error>
  </mat-form-field>
  <mat-label>Pick Role</mat-label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    formControlName="userRole"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let role of roles"
      [value]="role"
    >
      {{ role | titlecase }}
    </mat-radio-button>
    <mat-error *ngIf="registerForm.get('userRole')?.hasError('required')">
      Role is Required
    </mat-error>
  </mat-radio-group>
  <div>
    <button [disabled]="registerForm.invalid" mat-button color="primary">
      Register
    </button>
  </div>
  <div class="alert alert-warning" *ngIf="isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessful">
  Your registration is successful!
</div>
